<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>iMessage Admin</title>
		<link rel="stylesheet" type="text/css" href="/css/test.css" />
		<script type="text/javascript" src="/js/jquery.js" ></script>
        
    </head>
    <body>
	 
       <div class="div" id="div1">  
            <button class="btn_one" id="btn2" onclick="btn2()">next step</button>  
       </div>  
       <div id="div2" style="background:#666; display:none;"> 
	 
	        <form data-type="formAction" action="/" form-rediret="404">
            <table>
                <tr>
                <td>用户名</td><td><input type="text" name="admin_name"></input></td>
                </tr>
                <tr>
                <td>密码</td><td><input type="password" name="admin_password"></input></td>
                </tr>
                <tr>
                <td><input type="submit" value="登陆" style="width:100px;height:25px"></input></td>
                </tr>
            </table>
            </form>
			
            <button id="btn3" onclick="btn3()">第二个div</button>  
       </div>  
    </body>
	
	<script type="text/javascript" src="/js/base.js" ></script>
	
	<script>  
	
    function btn2(){  
        $("#div1").hide();  
        $("#div2").show();  
    }  
    function btn3(){  
        $("#div2").hide();    
        $("#div1").show();  
    }  
    </script>  

	
	
</html>