<!DOCTYPE html>

<html>
    <head>
        <title>reisterPage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="/static/js/jquery.js" ></script>
		<script type="text/javascript" src="/static/js/md5.js" ></script>
		<script type="text/javascript" src="/static/js/base.js" ></script>
		<link rel="stylesheet" href="/static/css/base.css">
    </head>

    <body style="background-color: #C0C0C0;">
	<div class="nacigationBar">
		<span><a href="/lookdot">查看玩家科技点</a></span>
		<span class="bar_span"><a href="/additem">增加物品给某个玩家</a></span>		
		<span class="bar_span"><a a href="/home">跳转回主页</a></span>
		<span class="bar_span"><a href="/logout">用户退出</a></span>
	</div>
    <h1>该页面为添加用户页面，只能添加一般权限的用户，假如要修改权限的话，请联系开发人员</h1>    
		<div>		
			<p>下面为注册的用户的账号名字和密码</p>
			<form class="register_form">
				<table class="register_tab">
				    <tr>
				        <td>用户名：</td><td><input type="text" required="true" id = "userid" name="username" missingMessage="请输入用户名"/></td>
				    </tr>
				    <tr>
				        <td>密码：</td><td><input type="password" required="true" id = "passid" name="password" missingMessage="请输入密码"/></td>
				    </tr>
					<tr>
						<td>确认密码：</td><td><input type="password" required="true" id = "surePwd" name="surePwd" missingMessage="请输入确认密码"/></td>
					</tr>
				</table>
				<input class="register_btn" type="button" value="添加新的用户" onclick="registerUser();"/>
			</form>
		</div>       
    </body>
</html>