.span_div{
	font-size:25px;
	font-family:微软雅黑;
	margin-top:50px;
}

.lookdot_a{
	margin-left:22%;
}

.span_a{
	margin-left:500px;
}

.register_form{
	border:1px solid #AAA;
	width:350px;
	height:200px;
	font-size:25px;
	font-family:微软雅黑;
	margin-top:50px;
}

.register_tab{
	margin-top:20px;
	margin-left:15px;
}

.register_btn{
	font-size:25px;
	font-family:微软雅黑;
	margin-top:25px;
	margin-left:60px;
	width:200px;	
}

.goto_home{
	margin-left:90%;
	font-size:15px;
}

.findItem_div{
	margin-top:30px;
	margin-left:37%;
}

.lookitem_table{
	width:50%;
}

.name_text{
	margin-top:4px;	
	height:25px;
	width:200px;
	font-size:20px;
}

.lookItem_but{
	font-size:20px;
	margin-left:20px;
	height:30px;
}

.addItem_div{
	margin-top:50px;
	margin-left:37%;
	font-family:微软雅黑;
}

.addItem_btn{
	margin-top:20px;
	font-size:20px;
	width:150px;
}

.nacigationBar{
	margin-top:20px;
	margin-left:60%;
	font-size:18px;
}

.bar_span{
	margin-left:50px;
}

.lookBox_but{
	font-size:20px;
	margin-left:20px;
	height:30px;
}

.login_boder{
	background: url(/static/img/login_m_bg.png) no-repeat; 
	height:302px; 
	overflow:hidden;
	margin-top:100px;
	margin-left:41%;
}

.login_padding{
	padding:28px 47px 20px 47px ;
}

.login_boder h2{
	color:#4f5d80;
	text-transform:uppercase;
	font-size:12px;
	font-weight:normal;
	margin-bottom:11px;
}

.login_boder input.txt_input{
	width:295px;
	height:36px;
	border:1px solid #cad2db;
	padding:0 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	line-height:36px;
	margin-bottom:10px;
	font-size:14px;
	color:#717171;
	font-family:Arial;
}

.login_boder input.txt_input2{
	margin-bottom:20px;
}

.login_boder input.sub_button{ 
	margin-top:20px;
	width:122px; 
	height:32px; 
	background:url(/static/img/site_bg.png) no-repeat -153px -850px; 
	border:none; 
	color:#FFF; 
	padding-bottom:2px; 
	font-size:14px; 
	font-weight:bold;
}

/*homehtml*/
.logoimg{
	width: 230px;
	height: 60px;
	margin-left:40%;
}

.header {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 99;
  background-color: #fff;
}

.mgea-full-width {
    position: relative;
}

.header-right .search,.header-menu,.menu ul li {
    display: inline-block;
}

.li_a{
	list-style:none;
	float:left;
	margin-left:60px;
	margin-top:18px;
	font-size:18px
}

.logout_a{
	float:left;
	margin-right:5px;
	margin-top:18px;
	font-size:18px
}

.section-heading {
    margin-bottom: 20px;
    font-size: 22px;
}


