.span_div{
	font-size:25px;
	font-family:微软雅黑;
	margin-top:50px;
}

.lookdot_a{
	margin-left:22%;
}

.span_a{
	margin-left:500px;
}

.goto_home{
	margin-left:90%;
	font-size:15px;
}

.findItem_div{
	margin-top:30px;
	margin-left:37%;
}

.lookitem_table{
	width:50%;
}

.name_text{
	margin-top:4px;	
	height:35px;
	width:200px;
	font-size:25px;
}

.lookItem_but{
	font-size:20px;
	margin-left:20px;
	height:30px;
}

.addItem_div{
	margin-top:50px;
	margin-left:37%;
	font-family:微软雅黑;
}

.addItem_btn{
	margin-top:20px;
	font-size:20px;
	width:150px;
}

.nacigationBar{
	margin-top:20px;
	margin-left:60%;
	font-size:18px;
}

.bar_span{
	margin-left:50px;
}

.lookBox_but{
	font-size:20px;
	margin-left:20px;
	height:30px;
}

.login_boder{
	height:700px; 
	overflow:hidden;
	margin-top:100px;
	width:21%;
	margin-left:35%;
}

/*homehtml*/
.logoimg{
	width: 230px;
	height: 60px;
}

.header {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 99;
  background-color: #fff;
}

.mgea-full-width {
    position: relative;
}

.header-right .search,.header-menu,.menu ul li {
    display: inline-block;
}

.li_a{
	list-style:none;
	float:left;
	margin-left:20px;
	margin-top:18px;
	font-size:18px
}

.logout_a{
	float:left;
	margin-right:5px;
	margin-top:18px;
	font-size:18px
}

.section-heading {
    margin-bottom: 20px;
    font-size: 22px;
}

.li_a_one{
	list-style:none;
	float:left;
	margin-top:18px;
	font-size:18px
}

.lookdot_text{
	display: inline-block;
	margin:0 0 0 2px;
	height:30px;
}

/*login*/
.login-form {
	background: #2b2b36;
	position: relative;
	width: 100%;
	margin: 3% auto 0 auto;
	text-align: center;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
}
.head img {
	width: 100%;
}
.avtar img {
  margin: 2em 0 0;
}
.head-info {
  padding: 5px 0;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  color: #fff;
  background: #23232e;
  height: 50px;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-o-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10p
}

.key {
   background: url(/static/img/pass.png) no-repeat 447px 17px;
}

label.lbl-1 {
  background: #6756ea;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  border-radius: 50%;
  margin: 16px 10px 0px 0px;
}
label.lbl-2 {
  background: #ea569a;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  border-radius: 50%;
   margin: 16px 10px 0px 0px;
}
label.lbl-3 {
  background: #f1c85f;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  border-radius: 50%;
  margin: 16px 10px 0px 0px;
}
.close{
background: url('/static/img/close.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

/*home*/
.navbar-inverse {
	background-color: #2B2C30;
	width: 100%;
	z-index: 99;
}

.navbar-brand h1 {
	margin: 0;
}


