<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>这个是主页</title>
		<script type="text/javascript" src="/js/jquery.js" ></script>
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
		<link href="//fonts.gdgdocs.org/css?family=Lobster" rel="stylesheet" type="text/css">
		<style>
		    .main{
				width:55%;
				background-color: #E0E0E0;
				margin-left:500px;
			}
		    .red-text {
                color: red;
            }
			h2{
				font-family: 华文行楷;
				font-size:80px;
			}
			.head-image{
				width:70%;
				height:400px;
				margin-left:150px;
				margin-top:20px;
			}
			p{
				font-size:25px;
				font-family:方正舒体;
			}
			
			.body-text{
				margin-left:150px;
				margin-top:20px;
				margin-right:160px;
			}
			.div-last{
				font-size:25px;
				font-family:方正舒体;
				margin-top:50px;
				height:100px;
			}
		</style>
        
    </head>
    <body>
	<div class="main">				   
		<h2 class="text-center">秦始皇</h2>	
		<p class="text-center">寡人始皇帝，子子孙孙，传之万世。黑色江山，永不变色。</p>			    
		<img class="head-image" src="/images/001.jpg">
		<div class="body-text">
			<p><span>吾皇语录：</span></p>
			<ul>
    			<li>朕统六国，天下归一，筑长城以镇九州龙脉，卫我大秦、护我社稷。朕以始皇之名在此立誓！朕在，当守土开疆，扫平四夷，
				定我大秦万世之基！朕亡，亦将身化龙魂，佑我华夏永世不衰！此誓，日月为证，天地共鉴，仙魔鬼神共听之！</li>
    			<li>闻太古有号毋谥，中古有号，死而以行为谧。如此，则子议父，臣议君也，甚无谓，朕弗取焉。自今已来，除谥法。
				二世三世至于万世，传之无穷。</li>
    			<li>方圆百里之内，无论妇幼老少，猪犬牛羊，杀而焚之，化作焦土，万年寸草不生。</li>
				<li>功臣不能全身而退，嬴政何颜立于天下!</li>
  			</ul>
			
			<p><span>吾皇简介：</span></p>
			<ul>
          		<li>秦始皇嬴政(前259年—前210年)，出生于赵国首都邯郸，秦庄襄王之子，十三岁继承王位，三十九岁称皇帝，在位三十七年。
				中国历史上著名的政治家、战略家、改革家，首位完成华夏大一统的铁腕政治人物，建造了首个多民族的中央集权国家，
				曾采用三皇之“皇”、五帝之“帝”构成“皇帝”的称号，是古今中外第一个称皇帝的封建王朝君主。</li>
    			<li>秦始皇在中央创建皇帝制度，实行三公九卿，管理国家大事。地方上废除分封制，代以郡县制，同时又书同文，车同轨，
				统一度量衡。对外北击匈奴，南征百越，修筑万里长城，修筑灵渠，沟通水系。还把中国推向了大一统时代，为建立专制主义
				中央集权制度开创了新局面，对中国和世界历史产生了深远影响，奠定中国两千余年政治制度基本格局，他被明代思想家李贽誉为“千古一帝”。</li>
    			<li>秦始皇认为自己的功劳胜过之前的三皇五帝，采用三皇之“皇”、五帝之“帝”构成“皇帝”的称号，是中国历史上第一个使用“皇帝”称号的君主，
				所以自称“始皇帝”。同时在中央实行三公九卿，管理国家大事。地方上废除分封制，代以郡县制，同时书同文，车同轨，统一度量衡。
				对外北击匈奴，南征百越，修筑万里长城，修筑灵渠，沟通水系。</li>
				<li>秦始皇是中国历史上一位叱咤风云富有传奇色彩的划时代人物，是中国历史上第一个大一统王朝——秦王朝的开国皇帝，对中国和世界历史产生
				深远影响，把中国推向大一统时代，奠定中国两千余年政治制度基本格局，被明代思想家李贽誉为“千古一帝”</li>
  			</ul>
			
			<p><span>吾皇丰功伟绩：</span></p>
  			<ul>
    			<li>统一六国,秦王政掌权后，任用尉缭和李斯等人，积极推行统一战略。</li>
    			<li>开创帝制,秦王政二十六年（前221）灭六国后，以王号不足以显其业，乃称皇帝。并继续执行孝公变法以来商鞅的法家政策，加强君主专制，
				削弱旧贵族势力，提拔由军功而上升起来的贵族。秦帝国的土地所有制基本上仍维持西周的“王有”土地制，而变“王有”为“国有”。秦始皇于前216年
				命令全国农民自报占有田地的实际数额，以便征收赋税。又实行即使是平民，只要有军功也可授予土地及爵位。虽然秦国在商鞅变法时施行了“授田制”
				，农民的土地名义上是国家所有、私人耕种，但此举让全国百姓实际占有了原来“王有”的土地，不久之后便演变成了农民和官员们都可以自由地买
				卖田地，所以秦国的商鞅变法最终便利了私有土地的发展。</li>
    			<li>前221年，秦始皇完成了统一中原的大业之后，就着手制定北讨匈奴、南平百越的战略。经过一系列的准备，前218年，秦始皇命大将屠睢和
				赵佗率50万大军，发动了征服岭南越族的战争。秦军兵分五路，经广西北部的越城岭、湖南南部的九嶷山以及江西南康和余干等地，向两广地区
				的越族进军。其中，攻占番禺的这支秦军最为迅速。他们经九嶷要塞，顺北江而下，直达珠江三角洲地区，并占领了番禺。而进攻广西地区越族人
				的两支大军，越人由于熟悉地形，善于爬山涉水，夜间偷袭秦军，扰得秦军苦不堪言。越人一度获胜，秦军粮道被断，供给不足，主帅之一的屠睢
				也被杀害。由于粮食匮乏、主帅被杀、数十万的秦军伤亡，使战争陷入了对峙阶段，前后相持达三年之久。</li>
				<li>当时中原刚统一，各地原来的贵族势力还很强，若不保持中央各地之间的交通和联系，国家随时会处于再次分裂的局面，所以必须尽快改善中
				央到各地及其他各郡、县之间的交通和联系，因此须尽快建设道路。修建长城，是为了保护北部边境人民的生命财产的安全，其目的也是为了减少人
				民的负担；由于匈奴是游牧民族，其骑兵活动范围很大，没有长城的话，要很多军队来防守，这会给人民增加很大的负担。万里长城不是他开创的，
				他只是把原来秦国，赵国和燕国北边原有的长城连接起来。</li>
  			</ul>
			<div class="row div-last text-center">
			 	<div class="col-xs-4">
					<span>制作人：二斗斗</span>
				</div>
				<div class="col-xs-8">
					<a href="https://baike.baidu.com/item/%E7%A7%A6%E5%A7%8B%E7%9A%87/6164?fr=aladdin#1">此连接跳转至更多秦始皇资料</a>
				</div>
			</div>
			
			
			
		</div>
		
		
		
	</div>
	
	 
    </body>
	
	<script type="text/javascript" src="/js/base.js" ></script>	
</html>