<!DOCTYPE html>

<html>
    <head>
        <title>loginPage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="/static/js/jquery.js" ></script>
		<script type="text/javascript" src="/static/js/md5.js" ></script>
		<script type="text/javascript" src="/static/js/base.js" ></script>
		<link rel="stylesheet" href="/static/css/base.css">
    </head>

    <body background = "/static/img/login.gif">   
		<h1 style="margin-top:100px;margin-left:47%;">玩家登陆页面</h1>      
		<div class="login_boder">
			<div class="login_padding">	
				<h2>USERNAME</h2>
	  			<label>
	    			<input type="text" class="txt_input txt_input2" required="true" id = "userid" name="username" missingMessage="请输入用户名"/>
	  			</label>
	  			<h2>PASSWORD</h2>
	  			<label>
	    			<input type="password" class="txt_input" required="true" id = "passid" name="password" missingMessage="请输入密码"/>
	  			</label>
				<br/>
				<label>
					<input type="button" class ="sub_button" value="登录" onclick="checkUser();"/>
				</label>						
								
			</div>
		</div>
       
    </body>
</html>