<!DOCTYPE html>

<html>
    <head>
        <title>reisterPage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="/static/js/jquery.js" ></script>
		<script type="text/javascript" src="/static/js/md5.js" ></script>
		<script type="text/javascript" src="/static/js/base.js" ></script>
		<link rel="stylesheet" href="/static/css/base.css">
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>

    <body background = "/static/img/login.gif">
		<div class="header sticky-header">
			<div class="container">
		        <div class="row">
		            <div class="col-md-3 col-sm-2 col-xs-4">
		                <div class="logoimg"><a href="index.html"><img src="/static/img/logo.png" alt=""></a></div>
		            </div>
		            <div class="col-md-8 col-sm-8 col-xs-4">                    
		                <div class="header-right">
		                    <div class="header-menu hidden-sm hidden-xs">
		                        <div class="menu">
		                            <ul>
										<li class="li_a_one"><a href="/home">返回home</a></li>
		                                <li class="li_a"><a href="/lookdot">查看科技点</a></li>
		                                <li class="li_a"><a href="/lookitem">查看物品</a></li>
		                                <li class="li_a"><a href="/additem">增加物品</a></li>
		                                <li class="li_a"><a href="/lookbox">查看宝箱</a></li>
		                            </ul>
		                        </div>
		                    </div>	
		                </div>
		            </div>
					<div class="col-md-1 col-sm-2 col-xs-4">
						<a class ="logout_a" href="/logout">logout</a>
					</div>							
		    	</div>
			</div>		
	    </div>
    	<h3>注意事项：该页面为添加管理员页面，管理员分有权限，不同的管理员拥有不同的操作权限，该页面添加的管理员为一般管理权限</h3> 
		<div class="login_boder">
			<div class="login_padding">	
				<p>管理员名</p>
	  			<label>
	    			<input type="text" required="true" id = "userid" name="username" missingMessage="请输入用户名"/>
	  			</label>
	  			<p>密码</p>
	  			<label>
					<input type="password"  required="true" id = "passid" name="password" missingMessage="请输入密码"/>
	  			</label>
				<p>确认密码</p>
	  			<label>
					<input type="password" required="true" id = "surePwd" name="surePwd" missingMessage="请输入确认密码"/>
	  			</label>
				<br/>
				<label>
					<input class="sub_button" type="button" value="添加管理员" onclick="registerUser();"/>
				</label>						
								
			</div>
		</div>     
    </body>
</html>