<!DOCTYPE html>

<html>
    <head>
        <title>homePage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!--<script type="text/javascript" src="/static/js/jquery.js" ></script>-->
		<link rel="stylesheet" href="/static/css/base.css">
    </head>

    <body style="background-color: #C0C0C0;">
	<h1 style="text-align:center;">主页面</h1>       
		<div class="span_div">				
       		<span class="lookdot_a"><a href="/register">新添管理用户</a></span>
			<span class="span_a"><a href="/lookdot">查看玩家科技点</a></span>
			<span class="span_a"><a href="/lookitem">查看玩家物品信息</a></span>
			<span class="span_a"><a href="/additem">增加物品给某个玩家</a></span>
			<span class="span_a"><a href="/lookbox">查看玩家宝箱信息</a></span>
			<span class="span_a"><a href="/logout">用户退出</a></span>
		</div>
			
			
        
    </body>
</html>