<!DOCTYPE html>

<html>
    <head>
        <title>lookitemPage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="/static/js/jquery.js" ></script>
		<script type="text/javascript" src="/static/js/md5.js" ></script>
		<script type="text/javascript" src="/static/js/base.js" ></script>
		<link rel="stylesheet" href="/static/css/base.css">
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>

    <body background = "/static/img/login.gif">
		<div class="header sticky-header">
	        <div class="row">
	            <div class="col-md-2 col-sm-2 col-xs-4">
	                <div class="logoimg"><a href="index.html"><img src="/static/img/logo.png" alt=""></a></div>
	            </div>
	            <div class="col-md-9 col-sm-8 col-xs-4">                    
	                <div class="header-right">
	                    <div class="header-menu hidden-sm hidden-xs">
	                        <div class="menu">
	                            <ul>
						<li class="li_a"><a href="/register">新添管理用户</a></li>
	                                <li class="li_a"><a href="/lookdot">查看玩家科技点</a></li>
	                                <li class="li_a"><a href="/lookitem">查看玩家物品信息</a></li>
	                                <li class="li_a"><a href="/additem">增加物品给某个玩家</a></li>
	                                <li class="li_a"><a href="/lookbox">查看玩家宝箱信息</a></li>
	                            </ul>
	                        </div>
	                    </div>	
	                </div>
	            </div>
				<div class="col-md-1 col-sm-2 col-xs-4">
					<a class ="logout_a" href="/logout">logout</a>
				</div>							
	    	</div>		
	    </div>
	<h1 style="text-align:center;">这个页面是查看玩家物品信息页面</h1>
        <div class="findItem_div">
			<p>请输入想查找玩家的steam昵称</p>						
			<input class="name_text" type="text" required="true" id = "playerid" name="playername" missingMessage="请输入玩家的名字"/>			
			<p>请输入想查找玩家物品的模板id(筛选条件框可以输入值，也可以不输入值)</p>
			<div>
				<input class="name_text" type="text" required="false" id = "itemtempid"/>
				<input class="lookItem_but" type="button" value="查看玩家物品信息" onclick="lookitem();"  />			
			</div>
			<p>玩家物品信息:</p>
			<div class="lookitem_table">
				<table class="table" id = "project">
					<thead>
						<tr>
						    <th>玩家物品的uid</th>
							<th>玩家物品的模板id</th>
							<th>操作</th>
						</tr> 
					</thead>
					<tbody></tbody> 		       		 			   			     
				</table>
			</div>
		</div>		
    </body>
</html>