<!DOCTYPE html>

<html>
    <head>
        <title>Beego</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body background = "/static/img/login.gif">
        <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
            <div class="row">
              <div class="hero-text">
                <h1>你加载的页面出现错误</h1>
                <p class="description">
                    你当前加载的页面出现错误，你现在可以进入登录页面或者离开，如果你有任何的问题请联系作者
                <br />
                    跳转到登录页面请单击此网址: <a href="http://{{.Website}}">{{.Website}}</a>
                <br />
                    联系作者: {{.Email}}
                </p>
              </div>
            </div>
            </div>
        </header>
    </body>
</html>