<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/login.css">
	<style>
	
	

	</style>
</head>
<body>
	<canvas id="canvas"></canvas>


	<div class="text">
		<h3>live or die </h3>
		<p id="show">
			&nbsp;&nbsp;&nbsp;&nbsp;
			
		</p>
		<button id="yes">是</button>
		<button id="no">y</button>
		
		
	</div>
	
	<div id="login-box">
		<div class="login-box-top">
			<span id="close">×</span>
		</div>
		<form action="/ajax/login" data-type="formAction"  form-rediret="/admin/index">
			<input type="text" placeholder="username">
			<input type="password" placeholder="password">
			<input type="submit" value="Login">
		</form>
	</div>

	<script src="/js/jquery.js"></script>
	<script src="/js/login/login.js"></script>
	
</body>
</html>