<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/login.css">
	<style>
		#canvas1{
			position: absolute;
			background-color: rgba(255,255,255,0);
			top: 0;
			left: 0;
			/*opacity: 0;*/
		}
	#canvas2{
			position: absolute;
			background-color: rgba(255,255,255,0);
			top: 200px;
			left: 200px;
			display: none;
			/*opacity: 0;*/
		}
	

	</style>
</head>
<body>
	<canvas id="canvas"></canvas>
	
	<canvas id="canvas1" width="100" height="100"></canvas>
	<canvas id="canvas2" width="100" height="100"></canvas>

	<div class="text">
		<h3>生死状</h3>
		<p id="show">
			&nbsp;&nbsp;&nbsp;&nbsp;
			
		</p>
		<button id="yes">同意</button>
		<button id="no">不同意</button>
		
		
	</div>
	
	<div id="login-box">
		<div class="login-box-top">
			<span id="close">×</span>
		</div>
		<form action="/ajax/login" data-type="formAction"  form-rediret="/home/home">
			<input type="text" placeholder="username" name="admin_name">
			<input type="password" placeholder="password" name="admin_password">
			<input type="submit" value="Login">
		</form>
	</div>

	<script src="/js/jquery.js"></script>
	<script src="/js/login/login.js"></script>
	<script type="text/javascript" src="/js/base.js" ></script>
	
</body>
</html>