<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/home.css">
	
</head>
<body>
	<canvas id="canvas"></canvas>
	<canvas id="tone"></canvas>
	<nav class="nav">
		<div class="nav-left">
			<img src="/static/img/head.jpg" alt="">
		</div>
		<ul>
			<li><a href="">天眼</a></li>
			<li><a href="">后面有人</a></li>
			<li><a href="">明天的明天</a></li>
			<li><a href="">再往后</a></li>
		</ul>
	</nav>

	<nav id="btn">
		<ul>
			<li><a href="">11</a></li>
			<li><a href="">22</a></li>
			<li><a href="">33</a></li>
			<li><a href="">44</a></li>
			<li><a href="">55</a></li>
			<li><a href="">66</a></li>
			<li><a href="">77</a></li>
			<li><a href="">88</a></li>
			<li><a href="">99</a></li>
			<li><a href="">1010</a></li>
			<li><a href="">1111</a></li>
			<li><a href="">1212</a></li>
			<li><a href="">1313</a></li>
			<li><a href="">1414</a></li>
			<li><a href="">1515</a></li>
		</ul>
	</nav>
	
	<div class="text-box">
		墙上的时钟“滴……答……滴……答……”很有规律的走着，要是在白天，这样的声音根本不会引起注意，
		但是在万籁俱寂的晚上，这样的声音就有些显得恐怖了。杜凯一个人坐在沙发上，豆子大的汗水
		不断的从他的下巴滴落。双手合十，紧握的力度足以说明他现在的心情.现在的他在等待着什么，
		或者说，在躲着什么，他很不希望自己等待的东西出现。就在他面前不远处，就这一个日历，
		上面的日期是，农历七月十四号。已经很少有人用农历的日历了，在观察一下杜凯的穿着，
		也不是那种复古的人，更不可能是农民，可他为什么要用农历，而是还是特意翻到这一页？
		七月十四，众所周知的月半，鬼节。杜凯是做了什么亏心的事情么？就在这时，一丝微弱的声音传了过来，
		好像是开门的声音。杜凯的身体突然紧绷了一下，似乎这就是它所等待的东西，声音越来越大，
		就像是一个被尘封很久的大门，缓缓的给打开了一般。		
	</div>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/home.js"></script>
	
</body>
</html>