<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>登陆注册页面</title>
        <link rel="stylesheet" type="text/css" href="/css/register.css" />
        <script type="text/javascript" src="/js/jquery.js" ></script>
    </head>
	
	
    <body>
		<div id="div_login">
		<form data-type="formAction" action="/ajax/register" form-rediret="/home/home">
		
		<p class="text_name">用户名: <input class="text_input" placeholder="请输入用户名称" required type="text" name="admin_name"></input></p>	
		<p class="text_name">密码：<input class="text_input" placeholder="请输入用户密码" required type="password" name="admin_password"></p>				
		<input type="submit" value="进入" class="but_login">
		
        </form>
		</div>
		
        
    </body>
   <script type="text/javascript" src="/js/base.js" ></script>
	
</html>